@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import "tailwindcss";

@font-face{
    font-family: Rubik;
    src: url('./assets/fonts/Rubik-VariableFont_wght.ttf');
}
@theme{
    --font-rubik: Rubik, sans-serif;
}

html, body, #root{
    margin: 0;
    padding: 0;
    height: 100%;
}

body{
    overflow-y: auto;
}